* {
    margin: 0;
    padding: 0;
    background-color:darkgrey;
}

h1 {
    text-align: center;
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
}

button {
    padding: 2%;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

input {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.user-settings {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    width: 25%;
    gap: 15px;
}

#colorSelection {
    border-radius: 20px;
    padding: 2%;
    height: 50px;
    /* background-color: #333333; */
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

#sizeValue {
    margin: auto;
    padding: 2px;
    font-size: 1.5rem;
}

.container-grid {
    display: grid;
    width: 500px;
    height: 500px;
}
